* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'poppins', sans-serif;
}
main {
    display: flex;
}
.store-list {
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    background: whitesmoke;
    z-index: 1;
    top: 0;
    left: 0;
}
#map {
    height: 100vh;
    width: 100%;
}
.store-list .heading {
    background:  #1e88e5;
    color: #fff;
}
.store-list .heading h4 {
    padding: .5rem;
     letter-spacing: 1.3px;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background:  #03a9f4;
    border-radius: 0;
}
.store-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}
.store-list .shop-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}
.store-list li:last-child .shop-item {
    border: none;
}
.store-list .shop-item a {
    text-decoration: none;
    font-size: 15px;
    color:  #1e88e5;
    font-weight: 550;
}
.store-list .shop-item p {
    font-size: 14px;
    color: #404040;
}
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 5px;
}
.leaflet-popup-content-wrapper h4 {
    margin-top: 10px;
     padding:  16px;
    background: #fff;
    color: black;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.leaflet-popup-content p {
    margin: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .shop-logo  {
    width: 20px;
    height: 20px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 16px;
    padding-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color: #03a9f4 ;
    font-size: 14px;
}


.logo {
  width:100px;
  margin: auto;
}

.logo img {
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}